.form-box {
    border: 1px solid #707070;
    width: 500px;
    height: 215px;
    margin: 30px;
    position: absolute;
    top: 110px;
    left: 500px
}

.file {
    margin: 40px 10px 10px 40px;
}

.author {
    margin: 10px 40px;
}

.Description {
    margin: 10px 40px;
    width: 400px;
}

.button {
    margin: 20px 200px;
    width: 70px;
}